/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/bootstrap/cache/
/storage/*.key
/storage/pail
/vendor
/bootstrap/cache/*.php
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Ignore Google client secret JSON files
client_secret_*.json
